:root {
  --body-background: #fefefc;
  --body-background-tint: none;
  --body-font-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #343a40;
    --body-background-tint: none;
    --body-font-color: #e9ecef;
  }
}

@media screen and (max-width: $mobile-breakpoint) and (prefers-color-scheme: dark) {
  .book-header label[for="menu-control"] img {
    filter: invert(1);
  }
}

.markdown {
// Page divider lines
   hr {
     background: var(--accent-secondary);
   }

// Alternating table rows
table {
  tr:first-child {
    background: var(--primary-light);
  }
  tr:nth-child(even) {
    background: var(--gray-100);
  }
  tr:nth-child(odd):not(:first-child) {
    background: var(--gray-200);
  }
}
}