:root {
  --body-background: #f2f2f2;
  --body-background-tint: rgba(20,33,208,0.1);
  --body-font-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #1a1a1a;
    --body-background-tint: rgba(20,33,208,0.1);
    --body-font-color: #c0f6cc;
  }
}

@media screen and (max-width: $mobile-breakpoint) and (prefers-color-scheme: dark) {
  .book-header label[for="menu-control"] img {
    filter: invert(1);
  }
}

.markdown {
// Page divider lines
   hr {
     background: var(--color-link);
   }
// Alternating table rows
   table {
     thead tr {
       background: var(--body-background-tint);
     }
     tbody tr:nth-child(odd) {
        background: var(--body-background);
     }
     tbody tr:nth-child(even) {
       background: var(--body-background-tint);
     }
   }
}