:root {
  --body-background: #f4f4f4;
  --body-background-tint: rgba(0,0,0,0.2);
  --body-font-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #130b33;
    --body-background-tint: rgba(0,0,0,0.2);
    --body-font-color: #c0f6cc;
  }
}

@media screen and (max-width: $mobile-breakpoint) and (prefers-color-scheme: dark) {
  .book-header label[for="menu-control"] img {
    filter: invert(1);
  }
}

.markdown {
// Page divider lines
   hr {
     background: var(--accent-secondary);
   }

// Alternating table rows
   table {
     thead tr {
       background: var(--primary);
     }
     tbody tr:nth-child(odd) {
        background: var(--gray-100);
     }
     tbody tr:nth-child(even) {
       background: var(--gray-200);
     }
   }
}