:root {
  --body-background: #fefefc;
  --body-background-tint: none;
  --body-font-color: #000000;
}

@media (prefers-color-scheme: dark) {
  .book-menu-content label img {
    filter: invert(1);
  }
  :root {
    --body-background: #343a40;
    --body-background-tint: none;
    --body-font-color: #e9ecef;
  }
}

// Page divider lines
hr {
  background: var(--accent-secondary);
}

// Alternating table rows
table {
   tr:nth-child(2n) {
      background: var(--gray-500);
   }
}