:root {
  --body-background: #fefefc;
  --body-background-tint: rgba(40,50,165,0.2);
  --body-font-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #1b1b1b;
    --body-background-tint: rgba(40,50,165,0.2);
    --body-font-color: #e9e9e9;
  }
}

@media screen and (max-width: $mobile-breakpoint) and (prefers-color-scheme: dark) {
  .book-header label[for="menu-control"] img {
    filter: invert(1);
  }
}

.markdown {
// Page divider lines
   hr {
     background: var(--body-background-tint);
   }

// Alternating table rows
   table {
     thead tr {
       background: var(--body-background-tint);
     }
     tbody tr:nth-child(odd) {
        background: var(--body-background);
     }
     tbody tr:nth-child(even) {
       background: var(--body-background-tint);
     }
   }
}