// Themes
@mixin theme-light {
  --primary: #b6b6ff;
  --primary-light: #fff111;
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;

  --color-link: #d27f27;
  --color-visited-link: #d27f27;

  --icon-filter: none;

  --gray-100: #ffffffd0;
  --gray-200: #ffffff90;
  --gray-500: #ffffff50;
  
  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-dark {
  --primary: #b6b6ff;
  --primary-light: ##fff111;
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;

  --color-link: #d27f27;
  --color-visited-link: #d27f27;

  --icon-filter: brightness(0) invert(1);

  --gray-100: #ffffff95;
  --gray-200: #ffffff55;
  --gray-500: #ffffff25;
  
  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-auto {
  @include theme-light;
  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}