// Themes
@mixin theme-light {
  --primary: #32323c;
  --primary-light: #413029;
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;

  --color-link: #d27f27;
  --color-visited-link: #d27f27;

  --icon-filter: none;

  --gray-100: #c0c0c0;
  --gray-200: #a5a5a5;
  --gray-500: #808080;
  
  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-dark {
  --primary: #000000;
  --primary-light: #1b1b1b;
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;

  --color-link: #d27f27;
  --color-visited-link: #d27f27;

  --icon-filter: brightness(0) invert(1);

  --gray-100: #808080;
  --gray-200: #505050;
  --gray-500: #303030;
  
  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-auto {
  @include theme-light;
  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}