// Themes
@mixin theme-light {

  --color-link: #05d552;
  --color-visited-link: #16cd5b;

  --icon-filter: none;

  --gray-100: #c3bfea;
  --gray-200: #af81da;
  --gray-500: ##3a3a66;
  
  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-dark {

  --color-link: #05d552;
  --color-visited-link: #16cd5b;

  --icon-filter: brightness(0) invert(1);

  --gray-100: #1d1d42;
  --gray-200: #3a3a66;
  --gray-500: #af81da;
  
  @include accent("default", #64748b);
  @include accent("note", #4486dd);
  @include accent("tip", #3bad3b);
  @include accent("important", #8144dd);
  @include accent("warning", #f59e42);
  @include accent("caution", #d84747);

  // Fallback for {{< hint >}} shortcodes
  @include accent("info", #4486dd);
  @include accent("success", #3bad3b);
  @include accent("danger", #d84747);
}

@mixin theme-auto {
  @include theme-light;
  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }
}