/* Used by static folder files only, all variables must be referenced here. Use 6-digit HEX value for all colors that do not need transparency/alpha. Use rgba for alpha colors. */

:root {
/* from /assets/_custom.scss */
  --body-background: #fefefc;
  --body-background-tint: rgba(40,50,165,0.2);
  --body-font-color: #000000;
  --invert-font-color: #e9e9e9;
  
/* from /assets/_variables.scss */
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;

  --color-link: #d27f27;
  --color-visited-link: #d27f27;

  --icon-filter: none;

  --gray-100: #c0c0c0;
  --gray-200: #a5a5a5;
  --gray-500: #808080;
  
/* app specific */
   --primary: #32323c;
   --primary-light: #413029;
   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(232,128,0,0.2);
   --stamp-color: #cc2222;
}

@media (prefers-color-scheme: dark) {
  :root {
/* from /assets/_custom.scss */
    --body-background: #433a40;
    --body-background-tint:rgba(40,50,165,0.2);
    --body-font-color: #e9e9e9;
    --invert-font-color: #000000;

/* from /assets/_variables.scss */
    --accent: #d27f27;
    --accent-secondary: #745017;
    --border-color: #292360;

    --color-link: #d27f27;
    --color-visited-link: #d27f27;

    --icon-filter: brightness(0) invert(1);

    --gray-100: #808080;
    --gray-200: #505050;
    --gray-500: #303030;

/* app specific */
   --primary: #000000;
   --primary-light: #1b1b1b;
   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(232,128,0,0.3);
   --stamp-color: #cc2222;
  }
}