:root {
  --primary: #32323c;
  --primary-light: #413029;
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;
  
  --body-background: #fefefc;
  --body-background-tint: none;
  --body-font-color: #000000;

  --color-link: #d27f27;
  --color-visited-link: #d27f27;

  --icon-filter: none;

  --gray-100: #f8f9fa;
  --gray-200: #acb6c3;
  --gray-500: #7d7678;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #000000;
    --primary-light: #1b1b1b;
    --accent: #d27f27;
    --accent-secondary: #745017;
    --border-color: #292360;
    
    --body-background: #343a40;
    --body-background-tint: none;
    --body-font-color: #e9ecef;

    --color-link: #d27f27;
    --color-visited-link: #d27f27;

    --icon-filter: brightness(0) invert(1);

    --gray-100: #494e54;
    --gray-200: #7d7678;
    --gray-500: #acb6c3;
  }
}