:root {
/* from /assets/_custom.scss */
  --body-background: #f4eff6;
  --body-background-tint: none;
  --body-font-color: #000000;
  
/* from /assets/_variables.scss */

  --color-link: #05d552;
  --color-visited-link: #16cd5b;

  --icon-filter: none;

  --gray-100: #bdbbcf;
  --gray-200: #817ead;
  --gray-500: #605d8d;
  
/* app specific */
   --primary: #605d8d;
    --accent: #05d552; /* usually matcb color-link */
    --accent-secondary: #16cd5b;
    --border-color: #421a63;

   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
}

@media (prefers-color-scheme: dark) {
  :root {
/* from /assets/_custom.scss */
    --body-background: #3d3042;
    --body-background-tint: none;
    --body-font-color: #e9e9e9;

/* from /assets/_variables.scss */

    --color-link: #05d552;
    --color-visited-link: #16cd5b;

    --icon-filter: brightness(0) invert(1);

    --gray-100: #605d8d;
    --gray-200: #545273;
    --gray-500: #373649;

/* app specific */
   --primary: #605d8d;
    --accent: #05d552; /* accent & secondary usually same as color-link and visited */
    --accent-secondary: #16cd5b;
    --border-color: #421a63;

   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
  }
}