:root {
/* from /assets/_custom.scss */
  --body-background: #fefefc;
  --body-background-tint: rgba(40,50,165,0.2);
  --body-font-color: #000000;
  
/* from /assets/_variables.scss */
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;

  --color-link: ##5050ff;
  --color-visited-link: #5050aa;

  --icon-filter: none;

  --gray-100: #c0c0c0;
  --gray-200: #a5a5a5;
  --gray-500: #808080;
  
/* app specific */
   --primary: #b6b6ff
   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
}

@media (prefers-color-scheme: dark) {
  :root {
/* from /assets/_custom.scss */
    --body-background: #1b1b1b;
    --body-background-tint: rgba(40,50,165,0.2);
    --body-font-color: #e9ecef;

/* from /assets/_variables.scss */
    --accent: #d27f27;
    --accent-secondary: #745017;
    --border-color: #292360;

    --color-link: #5050ff;
    --color-visited-link: #5050aa;

    --icon-filter: brightness(0) invert(1);

    --gray-100: #353535;
    --gray-200: #505050;
    --gray-500: #656565;

/* app specific */
   --primary: #b6b6ff
   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
  }
}