:root {
/* from /assets/_custom.scss */
  --body-background: #fefefc;
  --body-background-tint: none;
  --body-font-color: #000000;
  
/* from /assets/_variables.scss */
  --primary: #b6b6ff;
  --primary-light: #fff111;
  --accent: #d27f27;
  --accent-secondary: #745017;
  --border-color: #292360;

  --color-link: #d27f27;
  --color-visited-link: #d27f27;

  --icon-filter: none;

  --gray-100: #ffffffd0;
  --gray-200: #ffffff90;
  --gray-500: #ffffff50;
  
/* app specific */
   --shadow-dark: rgba(0, 0, 0, 0.5);
   --shadow-light: rgba(255, 255, 255, 0.15);
   --accent-glow: rgba(232, 128, 0, 0.15);
   --stamp-color: #ff2222;
}

@media (prefers-color-scheme: dark) {
  :root {
/* from /assets/_custom.scss */
    --body-background: #1b1b1b;
    --body-background-tint: none;
    --body-font-color: #e9ecef;

/* from /assets/_variables.scss */
    --primary: #b6b6ff;
    --primary-light: ##fff111;
    --accent: #d27f27;
    --accent-secondary: #745017;
    --border-color: #292360;

    --color-link: #d27f27;
    --color-visited-link: #d27f27;

    --icon-filter: brightness(0) invert(1);

    --gray-100: #ffffff95;
    --gray-200: #ffffff55;
    --gray-500: #ffffff25;

/* app specific */
   --shadow-dark: rgba(0, 0, 0, 0.5);
   --shadow-light: rgba(255, 255, 255, 0.15);
   --accent-glow: rgba(232, 128, 0, 0.15);
   --stamp-color: #ff2222;
  }
}