:root {
/* from /assets/_custom.scss */
  --body-background: #f4f4f4;
  --body-background-tint: rgba(0,0,0,0.5);
  --body-font-color: #000000;
  
/* from /assets/_variables.scss */

  --color-link: #05d552;
  --color-visited-link: #16cd5b;

  --icon-filter: none;

  --gray-100: #e9e9e9;
  --gray-200: #a1a1a1;
  --gray-500: #828282;
  
/* app specific */
   --primary: #7aa788;
    --accent: #05d552; /* usually match color-link */
    --accent-secondary: #16cd5b;
    --border-color: #421a63;

   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
}

@media (prefers-color-scheme: dark) {
  :root {
/* from /assets/_custom.scss */
    --body-background: #130b33;
    --body-background-tint: rgba(0,0,0,0.5);
    --body-font-color: #c0f6cc;

/* from /assets/_variables.scss */

    --color-link: #05d552;
    --color-visited-link: #16cd5b;

    --icon-filter: brightness(0) invert(1);

    --gray-100: #323232;
    --gray-200: #454545;
    --gray-500: #626262;

/* app specific */
   --primary: #7aa788;
    --accent: #05d552; /* usually match color-link */
    --accent-secondary: #16cd5b;
    --border-color: #421a63;

   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
  }
}