:root {
/* from /assets/_custom.scss */
  --body-background: #f4f4f4;
  --body-background-tint: none;
  --body-font-color: #000000;
  
/* from /assets/_variables.scss */

  --color-link: #05d552;
  --color-visited-link: #16cd5b;

  --icon-filter: none;

  --gray-100: #c3bfea;
  --gray-200: #af81da;
  --gray-500: #3a3a66;
  
/* app specific */
   --primary: #7aa788;
    --accent: #05d552; /* usually match color-link */
    --accent-secondary: #16cd5b;
    --border-color: #421a63;

   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
}

@media (prefers-color-scheme: dark) {
  :root {
/* from /assets/_custom.scss */
    --body-background: #3d3663;
    --body-background-tint: none;
    --body-font-color: #e9e9e9;

/* from /assets/_variables.scss */

    --color-link: #05d552;
    --color-visited-link: #16cd5b;

    --icon-filter: brightness(0) invert(1);

    --gray-100: #1d1d42;
    --gray-200: #3a3a66;
    --gray-500: #af81da;

/* app specific */
   --primary: #7aa788;
    --accent: #05d552; /* usually match color-link */
    --accent-secondary: #16cd5b;
    --border-color: #421a63;

   --shadow-dark: rgba(0,0,0,0.5);
   --shadow-light: rgba(255,255,255,0.15);
   --accent-glow: rgba(182,233,33,0.65);
   --stamp-color: #ff2222;
  }
}